 
# Ignore the node_modules folder where project dependencies are stored
/node_modules

# Ignore locally created environment configuration files
.env

# Ignore temporary and debug files
*.log
*.log.*
*.tmp
*.bak
*.swp
*.db

# Ignore dependencies installed with npm
package-lock.json
yarn.lock

# Ignore generated folders and files
dist/
build/
coverage/

# Ignore IDE configuration files (e.g., Visual Studio Code)
.vscode/
.idea/

# Ignore temporary files created by editors
*.swp
*.swo
*.swn

# Ignore project-specific local settings and files
.project
.settings/

# Ignore testing configuration files
jest.config.js
karma.conf.js
